<div class="box home_box">
  <div class="home_box_container">
    <!-- QRcode row -->
    <div class="home_box_top">
      <article class="message is-success">
        <div class="message-header">
          <div class="container">
            <p class="theme-title">SCAN BELOW QR CODE TO OPEN ON YOUR PHONE</p>
          </div>
        </div>

        <div class="message-body">
          <figure class="image">
            <img src="static/img/qrcode_link.png" />
          </figure>
        </div>
      </article>
    </div>

    <div class="home_box_bottom">
      <!-- prompt row -->
      {% if let Some(message) = message %}
      <p><span><strong>{{ message }}</strong></span></p>
      {% endif %}
    </div>
  </div>
</div>
